body{
    background-color: #a3a3a3;

}
.card-deck{
    margin: 1%;
}

.clasePeliculas{
    height: 428px;
}

h6{
    text-align: center;
}

.btn-session{
    color: white;
}
.btn-session:hover{
    color: yellow;
}

.card-text{
    margin: 0;
}